body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
}

header {
  flex: 1;
  background-color: black;
  text-align: center;
  color: white;
  padding-top: 20px;
}

footer {
  flex: 1;
  background-color: black;
}

main {
  flex: 5;
  background-color: grey;
  display: flex;
}

form {
  display: flex;
  flex: 2;
  flex-direction: column;
  justify-content: center;
}

.read {
  background-color: green;
}

.row {
  height: 10%;
  display: flex;
  flex-direction: row;
}

.grid {
  width: 10%;
  border: 1px solid black;
}

.wall {
  background-color: rgb(114, 9, 53);
}

.pacman {
  background-color: red;
}

div.ghost {
  background-image: none;
}

.ghost {
  background-color: magenta;
  background-image: none;
}

.point {
  background-image: url('../img/point.png');
  background-size: cover;
  background-position: center;
  /* opacity: 0.5; */
}

#home-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

#start-button {
  flex: 1;
  margin-bottom: 20vh;
}

#game {
  flex: 1;
  display: none;
  margin: 5px;
}

#game-board {
  margin: 0 auto;
  margin-top: 5vh;
  height: 50vh;
  width: 50vh;
  display: flex;
  flex-direction: column;
}